body {
    margin: 0;
}
.h-druzia {
    background-color: blueviolet;
    text-align: center;
    margin: 0;
}

.parents {
    text-align: center;
}
.people img {
    width: 270px;
    height: 350px;
}

h3 {
    text-align: center;
    background:lawngreen;
    text-transform: uppercase;

}
.d-biograf {
    text-align: justify;
    margin-bottom: 15px;
}
.i-grin2 {
    display: block;
    margin: 0 0 10px 10px;
    width: 370px;
    height: 450px;
}
.i-geller {
    display: block;
    margin: 0 0 10px 10px;
    width: 370px;
    height: 465px;
}
.i-fibi {
    display: block;
    margin: 0 0 10px 10px;
    width: 770px;
    height: 465px;
}
.i-joi {
    display: block;
    margin: 0 0 10px 10px;
    width: 600px;
    height: 465px;
}
.i-ross{
    display: block;
    margin: 0 0 10px 10px;
    width: 800px;
    height: 465px;
}